.ant-page-header  {
    padding: 0px 24px !important;
}
.ant-menu-light{
    background-color: #F6F9FC !important;
}
.ant-page-header-heading{
    height: 56px;
}
.ant-modal-header{
    background-color: #2962FF !important;
    .ant-modal-title{color:white !important};
}

//spin custom
.ant-spin-blur{
    opacity: 0 !important;
}

//tab-navigation
.ant-tabs-nav{
    margin:0px !important;
}

//ant TAG
.ant-tag{
    width: 100% !important;
}

.tag_in_table{
    cursor: pointer;
}